This script creates the database schema for all NFL games. It will read in the precleansed CSV and query the data into the DB. It will also initialize a table for each team as well as a table to record prediction results.

In [1]:
import psycopg2 # PostgreSQL database adapter
import csv

try:
    # Establish a connection to the PostgreSQL database
    connection = psycopg2.connect(
        host = "localhost",
        dbname = "nfl",
        user = "postgres",
        password = "Plenoir2002!", # Enter correct password
        port = 5432
    )
    print("Connected to PostgreSQL database.")
except (Exception, psycopg2.Error) as error:
    print("Error connecting to PostgreSQL database: ", error)

Connected to PostgreSQL database.

In [2]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

In [3]:
# SQL command to initialize new table
create_script = '''
CREATE TABLE IF NOT EXISTS nfl_data (
    gameid INT,
    Tm VARCHAR(10),
    Home FLOAT,
    Won BOOLEAN,
    Season FLOAT,
    Date DATE,
    Score FLOAT,
    FrDwns FLOAT,
    TotYds FLOAT,
    T_O FLOAT,
    Pen FLOAT,
    Pen_Yds FLOAT,
    ThdDwns FLOAT,
    ThdDwnAtt FLOAT,
    Pass_Cmp FLOAT,
    Pass_Att FLOAT,
    Pass_Yds FLOAT,
    Pass_TD FLOAT,
    Pass_Int FLOAT,
    QB_Rate FLOAT,
    YAC FLOAT,
    Drops FLOAT,
    QB_BadTh FLOAT,
    QB_Sk FLOAT,
    QB_Hrry FLOAT,
    QB_Hits FLOAT,
    QB_Prss FLOAT,
    Rush_Att FLOAT,
    Rush_Yds FLOAT,
    Rush_TD FLOAT,
    Rush_YAC FLOAT,
    Rush_YPC FLOAT,
    XPM FLOAT,
    XPA FLOAT,
    FGM FLOAT,
    FGA FLOAT,
    Tm_opp VARCHAR(10),
    Score_opp FLOAT,
    FrDwns_opp FLOAT,
    TotYds_opp FLOAT,
    to_opp FLOAT,
    Pen_opp FLOAT,
    Pen_Yds_opp FLOAT,
    ThdDwns_opp FLOAT,
    ThdDwnAtt_opp FLOAT,
    Pass_Cmp_opp FLOAT,
    Pass_Att_opp FLOAT,
    Pass_Yds_opp FLOAT,
    Pass_TD_opp FLOAT,
    Pass_Int_opp FLOAT,
    QB_Rate_opp FLOAT,
    YAC_opp FLOAT,
    Drops_opp FLOAT,
    QB_BadTh_opp FLOAT,
    QB_Sk_opp FLOAT,
    QB_Hrry_opp FLOAT,
    QB_Hits_opp FLOAT,
    QB_Prss_opp FLOAT,
    Rush_Att_opp FLOAT,
    Rush_Yds_opp FLOAT,
    Rush_TD_opp FLOAT,
    Rush_YAC_opp FLOAT,
    Rush_YPC_opp FLOAT,
    XPM_opp FLOAT,
    XPA_opp FLOAT,
    FGM_opp FLOAT,
    FGA_opp FLOAT
);
'''

cursor.execute(create_script)
connection.commit()

In [4]:
csv_file_path = 'nfl_games.csv'

# Read the CSV file and insert data into the database
with open(csv_file_path, 'r') as file:
    reader = csv.reader(file)
    header = next(reader)

    # Modify the header list to include the name for the first column
    header[0] = 'gameid'
    
    # Generate the column names and placeholders for SQL query
    column_names = ','.join(header)
    placeholders = ','.join(['%s'] * len(header))
    insert_script = f"INSERT INTO nfl_data ({column_names}) VALUES ({placeholders})"

    for row in reader:
        cursor.execute(insert_script, row)

connection.commit()
print("CSV data has been inserted into the PostgreSQL database.")

CSV data has been inserted into the PostgreSQL database.

In [5]:
# SQL command to get distinct values of "Tm"
get_distinct_tm_query = "SELECT DISTINCT Tm FROM nfl_data;"
cursor.execute(get_distinct_tm_query)
distinct_tm_values = cursor.fetchall()

# Iterate through distinct "Tm" values and create tables for each
for tm_value in distinct_tm_values:
    tm = tm_value[0]
    
    # SQL command to create a table for each "Tm" value
    create_tm_table_query = f'''
    CREATE TABLE IF NOT EXISTS {tm} AS
    SELECT * FROM nfl_data WHERE Tm = %s;
    '''
    
    cursor.execute(create_tm_table_query, (tm,))
    connection.commit()

print("Team tables have been initialized.")

Team tables have been initialized.

In [ ]:
# Create table to hold prediction data
predictions_table_query = '''
    CREATE TABLE IF NOT EXISTS predictions (
    gameid INT,
    Tm VARCHAR(10),
    Home FLOAT,
    Season FLOAT,
    Date DATE,
    Week INT,
    Score FLOAT,
    P_score FLOAT,
    Tm_opp VARCHAR(10),
    Score_opp FLOAT,
    P_score_opp FLOAT,
    Win BOOLEAN,
    Pred_Win BOOLEAN,
    Spread FLOAT,
    Pred_spread FLOAT,
    Spread_win BOOLEAN
);
'''

cursor.execute(predictions_table_query)
connection.commit()

In [6]:
# Close the cursor and the connection
cursor.close()
connection.close()