In [7]:
# Import psycopg2: PostgreSQL database adapter
import psycopg2
import csv

try:
    # Establish a connection to the PostgreSQL database
    connection = psycopg2.connect(
        host = 'localhost',
        dbname = 'nba',
        user = 'postgres',
        password = 'Plenoir2002!', # Remove password before pushing to GitHub
        port = 5432
    )
    print("Connected to PostgreSQL database.")
except (Exception, psycopg2.Error) as error:
    print("Error connecting to PostgreSQL database: ", error)

Connected to PostgreSQL database.

In [8]:
# Create a cursor object to interact with the database
cursor = connection.cursor()

In [9]:
# SQL command to initialize new table
create_script = '''
CREATE TABLE IF NOT EXISTS nba_data (
    gameid FLOAT,
    mp FLOAT,
    team VARCHAR(255),
    total INT,
    home INT,
    season INT,
    date DATE,
    won BOOLEAN,
    fg FLOAT,
    fga FLOAT,
    fg_percent FLOAT,
    fg_3p FLOAT,
    fg_3pa FLOAT,
    fg_3p_percent FLOAT,
    ft FLOAT,
    fta FLOAT,
    ft_percent FLOAT,
    orb FLOAT,
    drb FLOAT,
    trb FLOAT,
    ast FLOAT,
    stl FLOAT,
    blk FLOAT,
    tov FLOAT,
    pf FLOAT,
    ts_percent FLOAT,
    efg_percent FLOAT,
    fg_3par FLOAT,
    ftr FLOAT,
    orb_percent FLOAT,
    drb_percent FLOAT,
    trb_percent FLOAT,
    ast_percent FLOAT,
    stl_percent FLOAT,
    blk_percent FLOAT,
    tov_percent FLOAT,
    ortg FLOAT,
    drtg FLOAT,
    team_opp VARCHAR(255),
    total_opp INT,
    home_opp INT,
    fg_opp FLOAT,
    fga_opp FLOAT,
    fg_percent_opp FLOAT,
    fg_3p_opp FLOAT,
    fg_3pa_opp FLOAT,
    fg_3p_percent_opp FLOAT,
    ft_opp FLOAT,
    fta_opp FLOAT,
    ft_percent_opp FLOAT,
    orb_opp FLOAT,
    drb_opp FLOAT,
    trb_opp FLOAT,
    ast_opp FLOAT,
    stl_opp FLOAT,
    blk_opp FLOAT,
    tov_opp FLOAT,
    pf_opp FLOAT,
    ts_percent_opp FLOAT,
    efg_percent_opp FLOAT,
    fg_3par_opp FLOAT,
    ftr_opp FLOAT,
    orb_percent_opp FLOAT,
    drb_percent_opp FLOAT,
    trb_percent_opp FLOAT,
    ast_percent_opp FLOAT,
    stl_percent_opp FLOAT,
    blk_percent_opp FLOAT,
    tov_percent_opp FLOAT,
    ortg_opp FLOAT,
    drtg_opp FLOAT
);
'''

cursor.execute(create_script)
connection.commit()

In [10]:
csv_file_path = 'nba_games.csv'

# Read the CSV file and insert data into the database
with open(csv_file_path, 'r') as file:
    reader = csv.reader(file)
    header = next(reader)

    # Modify the header list to include the name for the first column
    header[0] = 'gameid'
    
    # Generate the column names and placeholders for SQL query
    column_names = ','.join(header)
    placeholders = ','.join(['%s'] * len(header))
    insert_script = f"INSERT INTO nba_data ({column_names}) VALUES ({placeholders})"

    for row in reader:
        cursor.execute(insert_script, row)

connection.commit()

# Close the cursor and the connection
cursor.close()
connection.close()

print("CSV data has been inserted into the PostgreSQL database.")

CSV data has been inserted into the PostgreSQL database.